
.chat_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0rem 1rem;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 65px;
    .chat_header-info{
        display: flex;
        align-items: flex-start;
        .info_block{
            position: relative;
            .statusOnline{
               
                border-radius: 50%;
                background-color: greenyellow;
                position: absolute;
                right: 0;
                bottom: 4px;
                width: 14px;
                height: 14px;
                border: 2px solid white;
            }
        }
        .avt{
            width: 50px !important;
            height: 50px !important;
            cursor: pointer;

        }
      
        .info_text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            margin-left: 14px;
            text-transform: capitalize;
            .info_name{
                font-size: 18px;
                font-weight: 600;
                text-transform: capitalize !important;
            }
            .info_hour{
                font-size: 12px;
                margin-top: 6px;
                color: rgba(0,0,0,0.7);
            }
        }
    }
    .icon{
        font-size: 18px;
        cursor: pointer;
        width: 30px;
        height: 30px;
       margin-left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        &:hover{
            background-color: var(--grey-500);
        }
    }

    .block_icon{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .choise{
            background-color: var(--B10) !important;
            color: var(--B50) !important;
        }
    }
}