.timeLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: 0 2rem;
    .line_dive{
        flex-grow: 1;
    }
    .timeLine_content{
        color: #fff;
        background-color: rgba(0,0,0,0.2);
        border-radius: 12px;
        font-size: 12px;
        padding: 4px 8px;
        position: relative;
       
    }
}